<button>Default</button>
<br>
<br>
<button class="variant_outline">Default</button>
<br>
<br>
<button class="variant_text">Default</button>
<br>
<br>
<button class="disable_shadow">Default</button>
<br>
<br>
<button disabled>Default</button>
<br>
<br>
<button class="size_sm">Default</button>
<br>
<br>
<button class="size_lg">Default</button>
<br>
<br>
<button class="color_primary">Default</button> 
<br>
<br>
<button class="color_secondary">Default</button>
<br>
<br>
<button class="color_danger">Default</button>